*{box-sizing: border-box}
body {
    font-family: "Sora", sans-serif;
    font-weight: 500;
    font-style: normal;
}
header {
    background-color: #000;
    text-align: center;
    /*display: flex;*/
    padding: 2rem 3vw;
}
header h1 {
    color: #C787D6;
    margin: 0;
    text-align: center;
}
header p {
    color: #C787D6;
    margin: 0;
    text-align: center;
    letter-spacing: .70px;
}
/*Large*/
@media only screen and (min-width: 601px) {
    nav {
        background-color: #000;
        height: auto;
    }
    nav ul {
        list-style-type: none;
        padding: 0 3vw;
        margin: 0;
        display: flex;
    }
    nav a {
        color: #c787d6;
        text-decoration: none;
        padding: .8rem 1rem;
        font-weight: 800;
        font-size: 1.2rem;
        display: block;
    }
    nav a:hover {
        color: #fff;
    }
    nav li.tbd a {
        color: #000;
        background-color: #c787d6;
    }
}
/*Small*/
@media only screen and (max-width: 600px) {
    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .9rem;
        text-decoration: none;
        font-weight: 800;
        text-align: center;
        border-bottom: 1px solid #c787d6;
        background-color: #000;
        color: #c787d6;
        border-radius: .5rem;
    }
    nav .tbd a {
        background-color: #c787d6;
        background: linear-gradient(to bottom, #c787d6, rgba(208, 137, 224, .6));
        color: #000;
    }
}
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #1235f4;
}
main h2 {
    color: #1235f4;
    margin-bottom: .5rem;
}
main h3 {
    color: #1235f4;
}
main p {
    color: #000;
    margin: 0 0 .3rem 0;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 120%;
    margin-bottom: .8rem;
    font-size: 1.1rem;
}
main ol {
    padding: .4rem 2vw;
}
main dl dt {
    font-weight: 800;
}
main dl dd {
    font-size: .9rem;
}
main address {
    font-style: normal;
    padding: .6rem;
    width: 12rem;
    color: #c787d6;
    background-color: #000;
    border: 2px solid #c787d6;
    border-radius: .7rem;
}
main a:hover {
    color: #C51D34;
}
main a {
    color: #1235f4;
}
/*Hero image here*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
div.gallery figure {
    margin: .5rem 2% 0 0;
    padding: .4rem .4rem .2rem .4rem;
    border: 2px solid #000;
    border-radius: .5rem;
}
div.gallery figcaption {
    text-align: center;
    font-size: .9rem;
    color: #000;
}
.gallery img {
    width: 100%;
    height: auto;
}
.gallery img:hover {
    box-shadow: 0 0 15px #1235f4;
}
.ai fieldset {
    border: 1px solid #c787d6;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.ai legend {
    color: #000;
    font-size: .9rem;
}
.ai label {
    margin: .5rem;
}
.ai label, .ai select, .ai[type=text], .ai[type=email], .ai textarea, .ai[type=tel] {
    display: block;
}
.ai [type=text], .ai [type=email], .ai[type=tel], .ai select, .ai textarea {
    border: 1px solid #000;
    border-radius: .4rem;
    padding: .4rem;
    width: 250px;
    font-family: "Sora", sans-serif;
    font-weight: 500;
}
.ai textarea {
    height: 5rem;
    width: 15rem;
}
.ai :required {
    background-color: rgba(255, 0, 25, 0.11)
}
.ai select {
    padding: 30rem .4rem .4rem .4rem;
}
.ai [type=submit] {
    background-color: #000;
    color: #c787d6;
    border: 1px solid #c787d6;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 0 0 2vw;
}




.ai fieldset {
    border: 1px solid #c787d6;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.ai legend {
    color: #c787d6;
    font-size: .9rem;
}
.ai label {
    margin: .5rem;
}
.ai label, .ai select, .ai [type=text], .ai [type=tel], .ai [type=email], .ai textarea {
    display: block;
}
.ai [type=text], .ai [type=tel], .ai [type=email], .ai select, .ai textarea {
    border: 1px solid #000;
    border-radius: .4rem;
    padding: .4rem;
    width: 240px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}
.ai textarea {
    height: 5rem;
    width: 15rem;
}
.ai :required {
    background-color: rgba(235, 45, 64, 0.17)
}
.ai [type=submit] {
    background-color: #000;
    border: 1px solid #c787d6;
    color: #c787d6;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 0 0 2vw;
}

.nif {
    font-size: .45rem;
    margin: 0;
}
.pack {
    border: 2px solid #000;
    border-radius: .5rem;
    margin: 0 0 2rem 0;
    padding: .5rem;
}
.hero {
    margin: 0;
    width: 100%;
}
img.hero {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
}
footer {
    background-color: #000;
    color: #c787d6;
    text-align: center;
    padding: .5rem 0;
    font-size: .9rem;
    clear: both;
}
footer a {
    color: #1235f4;
}
header, nav, main, footer {
    max-width: 100rem;
    margin: 0 auto;
}